<div class="container">
  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Project Name</th>
      <th style="text-align: center;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td style="text-align: center;">
        <button (click)="runProjectTests(project.id)" class="btn btn-success btn-sm">
          <i class="bi bi-play-circle-fill"></i> Run
        </button>
        <button (click)="handleCompare(project.id)" class="btn btn-secondary btn-sm" style="margin-left: 10px">
          <i class="bi bi-file-earmark-text"></i> Report
        </button>
        <a routerLink="/projects/{{ project.id }}/operations" class="btn btn-outline-primary btn-sm" style="margin-left: 10px">
          <i class="bi bi-eye"></i>
        </a>
        <button class="btn btn-outline-warning btn-sm" style="margin-left: 10px;" (click)="updateProject(project.id)">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm" style="margin-left: 10px;" (click)="handleDeleteProject(project.id)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
