.custom-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-card .card-body {
  padding: 20px;
}

.custom-card input:focus,
.custom-card select:focus,
.custom-card textarea:focus {
  transition: background-color 0.3s ease;
}

.custom-card .btn-primary {
  background-color: #007bff;
  border: none;
}

.custom-card .btn-primary:hover {
  background-color: #0056b3;
}


.custom-card .btn-primary:active {
  transform: translateY(1px);
  box-shadow: none;
}
